* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #252525; 
}

/* nav bar */
header {
    width: 100%;
    position: absolute;
    z-index: 9999;
    max-width: 1400px;
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
}

nav{ 
    display: flex;
    justify-content: space-between;
    width:100%;
}

.logo h1{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
    font-family: open Sans condensed ;
}

.logo span{
    display: inline-block;
    margin: 0;
    font-size: 2.0rem;
    color: #FF4500;
    font-weight: 700;
    font-family: open Sans condensed ;
}

.logo h1 a{
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: rgb(255, 255, 255);
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin-left: 40px;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
}

nav ul li a:hover{
    color: rgb(255, 0, 0);
    
}

.resume li a {
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px;
}

.resume li a:hover{
    background-color: white;
}

/* About */

#about{
    margin: auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.about{
    width: 100%;
}

.about h6 {
    text-align: start;
   
    color: #FF4500;
    font-size: 26px;
    margin-bottom: 16px;
}

.about h3 {
    color: #e4e4e4de;
    text-align: start;
  
    font-size: 3.8rem;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    line-height: 3.6rem;
    margin-bottom: 16px;
}

.about h2 {
    color: #e4e4e48e;
    text-align: start;
 
    font-size: 3.9rem;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    line-height: 3.6rem;
    margin-bottom: 26px;
}

.about p{
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    margin-bottom: 6px;
 
    font-family: 'Poppins', sans-serif;
}

/* Skills */

#Skills{
    border-image: linear-gradient(270deg, rgb(0, 0, 0), #FF4500, rgb(0, 0, 0)) 1 / 1 / 0 stretch;
    margin: auto;
  
    background-color: rgb(25, 25, 25);
    border-top: 6px solid;
}

.skills{
    width: 100%;
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 0px;
    overflow: hidden;
}
.title{
    font-size: 1.5rem;
    padding: 36px;
    color: #e4e4e4de;
}

.skills h4{
    color:  #FF4500;
    font-size: 26px;
}

/*cards*/
.cardcontainer{
    gap: 1.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    gap: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 2rem;
    display: flex;
    cursor: pointer;
    border-radius: 1.2rem;
    background-color: rgb(41, 41, 41);
}
.card p {
    line-height: 1.4rem;
    color: rgba(255, 255, 255, 0.781);
}
.card i{
    font-size: 3.0rem;
}
