.card {
    padding: 15px;
    height: 280px;
    min-height: 270px;
    border-radius: 10px;
    background: #ffffff62;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
    text-decoration: none;
}
.containcard1 a{
  margin: 5px;
}
.card-image {
  min-height: 200px;
  border-radius: 15px;
  margin: 0;
  padding: 0;
}
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #0d598fc4;
    margin: 15px 0 0 0;
    text-align: center;
  }
  
  .card-image img {
    display: block;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    min-width: 210px;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
    margin: 0;
    padding: 0;
  }
  .card-body {
  text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
  }
  
  .by-name {
    font-weight: 700;
  }

.linkkk{
    text-decoration: none;
}

@media (max-width: 768px) {
  .card {
      width: 100%;
      margin-bottom: 20px;
  }
}