.site-footer {
    background-color: #ffffff;
    padding: 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    text-align: center;
}

.site-footer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to new line */
}

.site-footer .social-icons {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 10px; /* Add space between social icons and copyright text */
}

.site-footer .social-icons li {
    display: inline-block;
    margin: 0 5px; /* Adjust as needed */
    vertical-align: middle;
}

.site-footer .social-icons li a {
    display: inline-block;
    width: 40px; /* Set width and height to create a circle */
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%; /* Make the element a circle */
    background-color: #0762a3; /* Set background color for the circle */
}

.site-footer .social-icons li a i {
    color: #fff; /* Set icon color */
}

.site-footer .copyright-text {
    margin: 0;
    margin-top: 10px; /* Add space between social icons and copyright text */
}
  
@media (max-width: 768px) {
    .site-footer .footer {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .site-footer .social-icons {
        margin-bottom: 0; /* Remove space between social icons and copyright text */
    }

    .site-footer .copyright-text {
        margin-top: 0; /* Remove space between social icons and copyright text */
    }
}
